body {
  margin: 0;
}
.logo {
  padding: 0 5.5rem;
  width: 250px;
  height: 100%;
  margin: 0;
  /* border: 1px solid black; */
}
.logo > img {
  width: 200px;
  margin: 0;
  /* border: 1px solid green; */
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  outline: 2px solid rgb(125, 119, 80);

  height: 200px;
  background-color: rgb(230, 228, 218);
  border-bottom-right-radius: 25px;
  border-end-start-radius: 5px;
  /* align-content: center; */
}
.navbar {
  display: flex;
  padding: 0 4.5em;
  /* border: 1px solid black; */
}
.nav-items {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 4.5rem;
  /* border: 1px solid black; */
}
.nav-item {
  padding: 0 2.5rem;
  list-style: none;
}
.body {
  /* outline: 1px solid black; */
}
.res-img {
  width: 100%;
  /* padding: 5px; */
  border-radius: 15px;
  /* outline: black 1px solid; */
}
.res-card {
  background-color: rgb(230, 228, 218);
  width: 200px;
  margin: 10px;
  padding: 10px;
  border-start-end-radius: 20px;
  border-end-end-radius: 20px;
  /* outline: black 1px solid; */
}
.res-card:hover {
  background-color: rgb(210, 201, 149);
  cursor: pointer;
}
.res-description {
  padding: 5px;
  /* outline: 1px solid black; */
}

.search {
  margin: 10px;
}
.res-container {
  /* outline: black 1px solid; */
  display: flex;
  padding: 10px 50px;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 50px;
}
