body {
  margin: 0;
}
.logo {
  padding: 0 5.5rem;
  width: 250px;
  height: 100%;
  margin: 0;
  /* border: 1px solid black; */
}
.logo > img {
  width: 200px;
  margin: 0;
  /* border: 1px solid green; */
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  border: 1px solid black;
  height: 200px;
  /* align-content: center; */
}
.navbar {
  display: flex;
  padding: 0 4.5em;
  /* border: 1px solid black; */
}
.nav-items {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 4.5rem;
  /* border: 1px solid black; */
}
.nav-item {
  padding: 0 2.5rem;
  list-style: none;
}
.body {
  border: 1px solid black;
}
.res-card {
  width: 200px;
  /* margin: 10px auto; */
  padding: 10px;
}
.res-img > img {
  width: 100%;
  /* padding: 5px; */
  border-radius: 5px;
}
.res-card:hover {
  outline: 2px solid rgb(231, 172, 172);
  border-radius: 5px;
  cursor: pointer;
}
.res-description {
  padding: 5px;
}

.search {
  margin: 10px;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
